{% extends 'instagram_home/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'instagram_home/post-detail.css' %}">
{% endblock %}

{% block content %}
    <!-- MY DAYS START -->
    <div class="hero">

        <div class="my-days-container ">

            <div class="my-day-container">
                <img src="{% static 'images/420606814_969867681428652_940048764839128859_n.jpg' %}" alt="">
                <div class="username">shaib.jakaria</div>
            </div>

            <div class="my-day-container">
                <img src="{% static 'images/424968489_1568335027261169_2946989543019766211_n.jpg' %}" alt="">
                <div class="username">madtengs</div>
            </div>

            <div class="my-day-container">
                <img src="{% static 'images/67233325_708940482879411_4014003995923185664_n.jpg' %}" alt="">
                <div class="username">kjk76</div>
            </div>

            <div class="my-day-container">
                <img src="{% static 'images/404641045_1695134250997086_1533695633313755431_n.jpg' %}" alt="">
                <div class="username">badalee__</div>
            </div>

            <div class="my-day-container">
                <img src="{% static 'images/439659973_1165044731319939_8833563330931368843_n.jpg' %}" alt="">
                <div class="username">ivestarship</div>
            </div>

            <div class="my-day-container">
                <img src="{% static 'images/431560124_2076986179369472_6128082900429999667_n.jpg' %}" alt="">
                <div class="username">momo_koy...</div>
            </div>

            <div class="my-day-container">
                <img src="{% static 'images/67233325_708940482879411_4014003995923185664_n.jpg' %}" alt="">
                <div class="username">kjk76</div>
            </div>

            <div class="my-day-container">
                <img src="{%static 'images/67233325_708940482879411_4014003995923185664_n.jpg' %}" alt="">
                <div class="username">kjk76</div>
            </div>

        </div>
        
        
        
    </div>
    <!-- MY DAYS END -->
   
    
    <div class="right-section-relative">
        <div class="container">
            <div class="right-section-container">
                <div class="right-section-profile-container">
                    <div class="right-section-image-container">
                        <a href="{% url 'profile' user.username%}">
                        <img src={{user.profile.image.url}} alt="" class="right-section-profile-picture">
                        </a>
                    </div>
                    <div class="username-column">
                        <a href="{% url 'profile' user.username %}" class="">
                            <div class="right-section-username">{{ user.username }}</div>
                        </a>
                        <a href="{% url 'profile' user.username %}">
                            <div>Basher Kalim</div>
                        </a>
                        
                    </div>

                    <button class="switch-button js-switch-button">Switch</button>
                </div>

                <div class="right-section-suggested-for-you-container">
                    <div class="suggested-for-you">Suggested for you</div>

                    <div class="see-all-button">See all</div>
                </div>

                <div class="right-section-profile-container">
                    <div class="right-section-image-container">
                        <img src="{% static 'images/436485053_999003375135309_3786298911098470059_n.jpg' %}" alt="" class="right-section-profile-picture">
                    </div>
                    
                    <div class="username-column">
                        <div class="right-section-username">_jlncsndr</div>
                        <div>Suggested for you</div>
                    </div>

                    <div class="switch-button">Follow</div>
                </div>

                <div class="right-section-profile-container">
                    <div class="right-section-image-container">
                        <img src="{% static 'images/447151494_1166708644460167_7237363820159379725_n.jpg' %}" alt="" class="right-section-profile-picture">
                    </div>
                    
                    <div class="username-column">
                        <div class="right-section-username">da_unknown_kid</div>
                        <div>Followed by shaib.jakaria</div>
                    </div>

                    <div class="switch-button">Follow</div>
                </div>

                
                <div class="right-section-profile-container">
                    <div class="right-section-image-container">
                        <img src="{% static 'images/447213905_1950093075420243_2251634874262426674_n.jpg' %}" alt="" class="right-section-profile-picture">
                    </div>
                    
                    <div class="username-column">
                        <div class="right-section-username">zserujj</div>
                        <div>New to Instagram</div>
                    </div>

                    <div class="switch-button">Follow</div>
                </div>

                    <div class="right-section-profile-container">
                    <div class="right-section-image-container">
                        <img src="{% static 'images/340325531_1356356961764926_5069269893365079367_n.jpg' %}" alt="" class="right-section-profile-picture">
                    </div>
                    
                    <div class="username-column">
                        <div class="right-section-username">dadakalimm</div>
                        <div>Suggested for you</div>
                    </div>

                    <div class="switch-button">Follow</div> 
                </div>

                <div class="right-section-profile-container">
                    <div class="right-section-image-container">
                        <img src="{% static 'images/447213905_1950093075420243_2251634874262426674_n.jpg' %}" alt="" class="right-section-profile-picture">
                    </div>
                    
                    <div class="username-column">
                        <div class="right-section-username">zserujj</div>
                        <div>New to Instagram</div>
                    </div>

                    <div class="switch-button">Follow</div>
                </div>

                <div class="right-section-profile-container">
                    <div class="right-section-image-container">
                        <img src="{% static 'images/446219368_1958229714592931_3703952881410213261_n.jpg' %}" alt="" class="right-section-profile-picture">
                    </div>
                    
                    <div class="username-column">
                        <div class="right-section-username">cristianajsu</div>
                        <div>Suggested for you</div>
                    </div>

                    <div class="switch-button">Follow</div> 
                </div>


            </div>
        </div>
    </div>
    
    <!-- POSTS SECTION  -->
    <div class="posts">
    
        {% for post in posts %}
            <div class="post-container">

                <div class="first-row">
                    <a href="{% url 'profile' post.author.username%}">
                    <div class="profile-container">
                        <img src={{post.author.profile.image.url}} alt="" class="profile-in-post">
                    </div>
                    </a>

                    <div class="first-column">
                        <div class="author-username">
                            <a href="{% url 'profile' post.author.username%}">{{post.author.username}}</a>
                            <img src="{% static 'icons/social-media.png' %}" alt="" class="verified-icon">
                         </div>
                    </div>
                    
                        
                    <div class="second-column">
                        <div class="dot-separator">&#xB7;</div>
                        <div class="post-time">{{post.created_at|timesince|truncatechars:4}}</div>
                    </div>

                    <div class="three-middle-dots"><strong>&#xB7;&#xB7;&#xB7;</strong></div>
                        
                    
                </div>

                <div class="post-photo">
                    <img src={{post.content.url}} alt="" class="object-fit-contain js-post-content">
                </div>

                <div class="bottom-row">
                    <div class="bottom-row-first-row">
                        <div class="like-comment-share-icon-container">
                            <img src="{% static 'icons/heart.svg' %}" alt="">
                            <img src="{% static 'icons/chat.svg' %}" alt="">
                            <img src="{% static 'icons/send.svg' %}" alt="">
                        </div>
                        
                        <div class="save-icon-conatiner">
                            <img src="{% static 'icons/bookmark.svg' %}" alt="" class="bookmark-icon">
                        </div>
                    </div>

                    <div class="likes-count">106,850 likes</div>

                    <div class="author-and-caption">
                        <div class="author-username">{{post.author.username}} <img src="icons/social-media.png" alt="" class="verified-icon"> </div>
                        <div class="post-caption">{{post.caption}}</div>
                    </div>

                    <div class="more">... more</div>

                    <div class="view-all-comment" data-post-id={{post.id}} >View all 381 comments {{post.id}}</div>
                    <div class="comment-form">
                        <input type="text" placeholder="Add a comment" class="comment-input">
                        <img src="icons/emoji-smile (1).svg" alt="" height="14px">
                    </div>
                    <hr>
                </div>
                
            </div>
        {% endfor %}
       
        <div class="post-container">

            <div class="first-row">
                <div class="profile-container">
                    <img src="{% static 'images/439659973_1165044731319939_8833563330931368843_n.jpg' %}" alt="" class="profile-in-post">
                </div>

                <div class="first-column">
                    <div class="author-username">ivestarship <img src="{% static 'icons/social-media.png' %}" alt="" class="verified-icon"> </div>
                </div>
                   
                    
                <div class="second-column">
                    <div class="dot-separator">&#xB7;</div>
                    <div class="post-time"></div>
                </div>

                <div class="three-middle-dots"><strong>&#xB7;&#xB7;&#xB7;</strong></div>
                    
                
            </div>

            <div class="post-photo">
                <img src="{% static 'images/ive-rei-photo-phone-wallpaper-4k-uhdpaper.com-404@0@e.jpg' %}" alt="">
            </div>

            <div class="bottom-row">
                <div class="bottom-row-first-row">
                    <div class="like-comment-share-icon-container">
                        <img src="{% static 'icons/heart.svg' %}" alt="">
                        <img src="{% static 'icons/chat.svg' %}" alt="">
                        <img src="{% static 'icons/send.svg' %}" alt="">
                    </div>
                    
                    <div class="save-icon-conatiner">
                        <img src="{% static 'icons/bookmark.svg' %}" alt="" class="bookmark-icon">
                    </div>
                </div>

                <div class="likes-count">106,850 likes</div>

                <div class="author-and-caption">
                    <div class="author-username">ivestarship <img src="icons/social-media.png" alt="" class="verified-icon"></div>
                    <div class="post-caption">`IVE'S WEEK` DAY 5 🌹</div>
                </div>

                <div class="more">... more</div>

                <div class="view-all-comment">View all 381 comments</div>
                <div class="comment-form">
                    <input type="text" placeholder="Add a comment" class="comment-input">
                    <img src="icons/emoji-smile (1).svg" alt="" height="14px">
                </div>
                <hr>
            </div>
            
        </div>
    </div>

    <div class="post-detail-modal js-post-detail-modal">
        <div class="post-detail-close-button">X</div>
        <div class="post-detail-modal-content js-post-modal-content">
        </div>
    </div>
{% endblock %}

    

{% block scripts %}
    <script type="module" src="{% static 'scripts/home.js' %}"></script>
{% endblock %}
