{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'instagram_home/instagram.css' %}">
</head>
<body>
    <div class="sidebar-container">
        <div class="logo">
            <img src="{% static 'icons/instagram-text-icon.png' %}" alt="" class="logo-icon">
        </div>

        <div class="sidebar-links-middle">
            <div class="sidebar-link">
                <img src="{% static 'icons/home.svg' %}" alt="" class="home-icon">
                <div class="active">Home</div>
            </div>
            <div class="sidebar-link">
                <img src="{% static 'icons/search.svg' %}" alt="" class="search-icon">
                <div>Search</div>
            </div>
            <div class="sidebar-link">
                <img src="{% static 'icons/explore.svg' %}" alt="" class="explore-icon">
                <div>Explore</div>
            </div>
            <div class="sidebar-link">
                <img src="{% static 'icons/reel.png' %}" alt="" class="reels-icons">
                <div>Reels</div>
            </div>
            <div class="sidebar-link">
                <img src="{% static 'icons/send.svg' %}" alt="" class="messages-icon">
                <div>Messages</div>
            </div>
            <div class="sidebar-link">
                <img src="{% static 'icons/heart.svg' %}" alt="" class="notifications-icon">
                <div>Notifications</div>
            </div>
            <div class="sidebar-link">
                <img src="{% static 'icons/plus-square.svg' %}" alt="" class="create-icon">
                <div>Create</div>
            </div>
            
            <a href="{% url 'profile' user.username %}">
                <div class="sidebar-link">
                    <img src={{user.profile.image.url}} alt="" class="profile-pic">
                    <div>Profile</div>
                </div>
            </a>

            
        </div>

        <div class="sidebar-links-down">
            <div class="sidebar-link">
                <img src="{% static 'icons/threads.svg' %}" alt="">
                <div>Threads</div>
            </div>

            <div class="sidebar-link">
                <img src="{% static 'icons/hamburger-menu.svg' %}" alt="">
                <div>More</div>
            </div>
        </div> 
    </div>
    
</body>
</html>


<div class="sidebar-container">
        <div class="logo">
            <img src="{% static 'icons/instagram-text-icon.png' %}" alt="" class="logo-icon">
        </div>

        <div class="sidebar-links-middle">
            <div class="sidebar-link">
                <img src="{% static 'icons/home.svg' %}" alt="" class="home-icon">
                <div class="active">Home</div>
            </div>
            <div class="sidebar-link">
                <img src="{% static 'icons/search.svg' %}" alt="" class="search-icon">
                <div>Search</div>
            </div>
            <div class="sidebar-link">
                <img src="{% static 'icons/explore.svg' %}" alt="" class="explore-icon">
                <div>Explore</div>
            </div>
            <div class="sidebar-link">
                <img src="{% static 'icons/reel.png' %}" alt="" class="reels-icons">
                <div>Reels</div>
            </div>
            <div class="sidebar-link">
                <img src="{% static 'icons/send.svg' %}" alt="" class="messages-icon">
                <div>Messages</div>
            </div>
            <div class="sidebar-link">
                <img src="{% static 'icons/heart.svg' %}" alt="" class="notifications-icon">
                <div>Notifications</div>
            </div>
            <div class="sidebar-link">
                <img src="{% static 'icons/plus-square.svg' %}" alt="" class="create-icon">
                <div>Create</div>
            </div>
            <div class="sidebar-link">
                <img src={{user.profile.image.url}} alt="" class="profile-pic">
                <div>Profile</div>
            </div>
        </div>

        <div class="sidebar-links-down">
            <div class="sidebar-link">
                <img src="{% static 'icons/threads.svg' %}" alt="">
                <div>Threads</div>
            </div>

            <div class="sidebar-link">
                <img src="{% static 'icons/hamburger-menu.svg' %}" alt="">
                <div>More</div>
            </div>
        </div>
        
    </div>